.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 767px) and (max-width: 1279px) {
  .container {
    max-width: 768px;
    padding: 0 34px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
    
  }
}
@media screen and (min-width:1280px) {
   .container{
      padding: 0px 115px;
   }
   
}