.header {
    position: relative;
    overflow-x: hidden;
    background-color: #ffb8ca;
    padding-bottom: 155px;
    padding-top: 6px;
}
.header__container {
    display: flex;
    align-items: center;
}
.nav {
    display: none;
}
.nav__list {
    display: flex;
}
.nav__link {
    padding-bottom: 14px;
    padding-top: 14px;
    color: #ffffff;
}
.header__button {
    display: none;
}
.header__button-icon {
    margin-left: 12px;
    fill: currentColor;
}
/*HERO*/
.hero {
    padding-top: 137px;
}
.hero__container {
    position: relative;
}
.hero__img-milk {
    display: none;
}
.hero__img-girl {
    display: none;
}
.hero__img-first-circle {
    display: none;
}
.hero__img-secont-circle {
    display: none;
}
.hero__main {
    position: relative;
    margin-bottom: 19px;
}
.hero__title {
    position: relative;
    z-index: 2;
    left: 0;
    top: 0;
    text-transform: uppercase;
    max-width: 218px;
    color: #ffffff;
}
.hero__span {
    text-transform: uppercase;
    color: #d41443;
}
.hero__img-ice {
    position: absolute;
    right: 74px;
    top: 9px;
}
.hero_aside-list {
    display: none;
}
.hero_aside-item {
    margin-bottom: 13px;
}
.hero__aside-text {
    color: #ffffff;
}
.hero__span-aside {
    display: block;
    color: #d41443;
}
.hero__button-list {
    display: flex;
}
.hero__button-item:not(:last-child) {
    margin-right: 8px;
}
.hero__button-link {
    padding: 9px 14px;
}
.hero-text {
    display: none;
}
.hero__arrow-button {
    display: none;
}
.hero__arrow-button-icon {
    fill: currentColor;
}