@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
body {
  color: #000000;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.header {
  position: relative;
  background-color: #ffb8ca;
  overflow-x: hidden;
  padding-top: 6px;
  padding-bottom: 155px;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 37px;
    padding-bottom: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding-bottom: 51px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
  overflow-y: hidden;
}

@media screen and (min-width: 768px) {
  .header__container {
    position: relative;
    z-index: 2;
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 37px;
  }
}

@media screen and (min-width: 1280px) {
  .header__container {
    position: relative;
    padding-left: 46px;
    padding-right: 46px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .header__logo {
    margin-right: 110px;
  }
}

.nav {
  display: none;
}

@media screen and (min-width: 1280px) {
  .nav {
    display: block;
    margin-right: 90px;
  }
}

.nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 35px;
}

@-webkit-keyframes rotateXArrow {
  100% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
}

@keyframes rotateXArrow {
  100% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
}

@-webkit-keyframes rotateX {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}

@keyframes rotateX {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}

@-webkit-keyframes rotateY {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  50% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
}

@keyframes rotateY {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  50% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
}

.nav__link {
  padding-top: 14px;
  padding-bottom: 14px;
  color: #ffffff;
}

.nav__link:hover, .nav__link:focus {
  -webkit-animation-name: rotateY;
          animation-name: rotateY;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  color: #d41443;
}

.nav__link--current {
  color: #d41443;
}

.header__button {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 13px 37px;
    margin-left: 30px;
    border-radius: 22px;
    background-color: #ffffff;
    color: #d41443;
  }
  .header__button:hover, .header__button:focus {
    background-color: #ecebeb;
    -webkit-animation-name: rotateX;
            animation-name: rotateX;
    -webkit-animation-duration: 1000ms;
            animation-duration: 1000ms;
  }
}

@media screen and (min-width: 1280px) {
  .header__button {
    margin-left: auto;
  }
}

.header__button-icon {
  margin-left: 12px;
  fill: currentColor;
}

/*MOBILE*/
.menu-open {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: #d41443;
  cursor: pointer;
}

.menu-open:hover, .menu-open:focus {
  color: #ffffff;
}

@media screen and (min-width: 1280px) {
  .menu-open {
    display: none;
  }
}

.menu-icon {
  stroke: currentColor;
}

.menu-icon__burger {
  stroke: #d41443;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  max-width: 250px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  z-index: 6;
  overflow: auto;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-repeat: no-repeat;
  background-position: 0 137px, 0 179px, 0 221px, 0 263px, 0 305px;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    max-width: 254px;
    background-position: 0 114px, 0 156px, 0 198px, 0 240px, 0 282px;
  }
}

@media screen and (min-width: 1280px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-hidden {
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.mobile-menu__container {
  padding: 60px 20px;
}

@media screen and (min-width: 768px) {
  .mobile-menu__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding-top: 39px;
    padding-bottom: 37px;
  }
}

.mobile-menu__close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
}

.mobile-menu__close:hover, .mobile-menu__close:focus {
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .mobile-menu__close {
    top: 15px;
    right: 15px;
  }
}

.mobile-menu__button {
  margin-bottom: 32px;
  padding: 13px 48px;
  border-radius: 22px;
  background-color: #ffffff;
  color: #d41443;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3125;
  letter-spacing: 0.04em;
}

.mobile-menu__button:hover, .mobile-menu__button:focus {
  background-color: #ecebeb;
  -webkit-animation-name: rotateX;
          animation-name: rotateX;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}

@media screen and (min-width: 768px) {
  .mobile-menu__button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.mobile-menu__button-icon {
  margin-left: 28px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .mobile-menu__button-icon {
    margin-left: 14px;
  }
}

.mobile-menu__nav-item {
  padding-top: 12px;
  padding-bottom: 12px;
}

.mobile-menu__nav-link {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: 0.04em;
}

.mobile-menu__nav-link:hover, .mobile-menu__nav-link:focus {
  color: #d41443;
  -webkit-animation-name: rotateY;
          animation-name: rotateY;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}

.mobile-menu__nav-link--current {
  color: #d41443;
}

/*HERO*/
.hero {
  padding-top: 137px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 74px;
  }
}

.hero__container {
  position: relative;
}

@media screen and (min-width: 768px) {
  .hero__container {
    padding-left: 34px;
    padding-right: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__container {
    padding-left: 115px;
    padding-right: 115px;
  }
}

.hero__img-milk {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero__img-milk {
    display: block;
    position: absolute;
    left: 34px;
    bottom: -7px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__img-milk {
    left: 77px;
    bottom: 0;
  }
}

.hero__img-girl {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero__img-girl {
    display: block;
    position: absolute;
    right: 34px;
    bottom: -34px;
    z-index: 2;
  }
}

@media screen and (min-width: 1280px) {
  .hero__img-girl {
    right: 109px;
    bottom: -51px;
  }
}

.hero__img-first-circle {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero__img-first-circle {
    display: block;
    position: absolute;
    top: -2px;
    right: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__img-first-circle {
    top: -5px;
    right: 107px;
  }
}

.hero__img-second-circle {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero__img-second-circle {
    display: block;
    position: absolute;
    top: 54px;
    right: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__img-second-circle {
    top: 80px;
    right: 107px;
  }
}

.hero__main {
  position: relative;
  margin-bottom: 19px;
}

@media screen and (min-width: 768px) {
  .hero__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 8px;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__main {
    margin-bottom: 9px;
  }
}

.hero__title {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  text-transform: uppercase;
  max-width: 218px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .hero__title {
    max-width: 162px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__title {
    max-width: 277px;
  }
}

.hero__span {
  text-transform: uppercase;
  color: #d41443;
}

.hero__pictures {
  position: absolute;
  top: -110px;
  right: -61px;
  width: 346px;
  height: 344px;
}

@media screen and (min-width: 768px) {
  .hero__pictures {
    top: -61px;
    right: 137px;
    width: 324px;
    height: 322px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__pictures {
    top: -109px;
    right: 268px;
    width: 538px;
    height: 538px;
  }
}

.hero__eclipse {
  position: absolute;
  bottom: 0;
  right: -20px;
  background-color: #ffa5ba;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  -webkit-animation-name: elipseBeats;
          animation-name: elipseBeats;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
}

@media screen and (min-width: 768px) {
  .hero__eclipse {
    top: 0;
    right: 0;
    width: 324px;
    height: 322px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__eclipse {
    width: 538px;
    height: 538px;
  }
}

@-webkit-keyframes elipseBeats {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes elipseBeats {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.hero__img-ice {
  position: absolute;
  top: 9px;
  right: 74px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__img-ice {
    top: 30px;
    right: 110px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__img-ice {
    top: 56px;
    right: 167px;
  }
}

.hero__aside-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero__aside-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: right;
  }
}

.hero__aside-item:not(:last-child) {
  margin-bottom: 13px;
}

@media screen and (min-width: 1280px) {
  .hero__aside-item {
    margin-bottom: 15px;
  }
}

.hero__aside-text {
  color: #ffffff;
}

.hero__span-aside {
  display: block;
  color: #d41443;
}

.hero__button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .hero__button-list {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .hero__button-list {
    margin-bottom: 66px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__button-list {
    margin-bottom: 112px;
  }
}

.hero__button-item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 1280px) {
  .hero__button-item:not(:last-child):not(:last-child) {
    margin-right: 17px;
  }
}

.hero__button-link {
  padding: 9px 14px;
}

.hero__button-link--pink {
  color: #ffffff;
  background-color: #d41443;
}

.hero__button-link--pink:hover, .hero__button-link--pink:focus {
  background-color: #fafafa;
  -webkit-animation-name: rotateX;
          animation-name: rotateX;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}

.hero__button-link--white {
  color: #d41443;
  background-color: #ffffff;
}

.hero__button-link--white:hover, .hero__button-link--white:focus {
  background-color: #ecebeb;
  -webkit-animation-name: rotateX;
          animation-name: rotateX;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}

@media screen and (min-width: 1280px) {
  .hero__button-link {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.hero-text {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero-text {
    display: block;
    max-width: 114px;
    margin-left: 120px;
    color: #ffffff;
    margin-bottom: 7px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-text {
    max-width: 200px;
    margin-left: 190px;
    margin-bottom: 20px;
  }
}

.hero__arrow-button {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero__arrow-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 120px;
    width: 18px;
    height: 18px;
    border: 0;
    border-radius: 50%;
    background-color: #ffffff;
    color: #d41443;
  }
  .hero__arrow-button:hover, .hero__arrow-button:focus {
    -webkit-animation-name: rotateXArrow;
            animation-name: rotateXArrow;
    -webkit-animation-duration: 1000ms;
            animation-duration: 1000ms;
  }
}

@media screen and (min-width: 1280px) {
  .hero__arrow-button {
    width: 26px;
    height: 26px;
    margin-left: 190px;
  }
}

.hero__arrow-button-icon {
  fill: currentColor;
}

.button {
  font-family: inherit;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */