<section class="contacts" id="contacts">
    <div class="container">

      <h2 class="visually-hidden">Contacts and locations</h2>

      
  
      <ul class="contacts__list">
        <li class="contacts__card">
          <span class="contacts__title">Cafe</span>
          <span class="contacts__subtitle">Chicago</span>
          <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <div class="contacts__wrap">
            <span class="contacts__subtitle">Monday - Friday</span>
            <span class="contacts__time">06:00 AM - 10:00 PM</span>
            <span class="contacts__subtitle contacts__subtitle--second">Saturday-Sunday</span>
            <span class="contacts__time">08:00 AM - 16:00 PM</span>
          </div>
          <a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a>
          <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
  
  
        <li class="contacts__card">
          <span class="contacts__title contacts__title--type">Food truck</span>
          <span class="contacts__subtitle">Los Angeles</span>
          <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <div class="contacts__wrap">
            <span class="contacts__subtitle">Monday - Friday</span>
            <span class="contacts__time">06:00 AM - 10:00 PM</span>
            <span class="contacts__subtitle contacts__subtitle--second">Saturday-Sunday</span>
            <span class="contacts__time">08:00 AM - 16:00 PM</span>
          </div>
          <a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a>
          <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
  
  
        <li class="contacts__card">
          <span class="contacts__title">Cafe</span>
          <span class="contacts__subtitle">New York</span>
          <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <div class="contacts__wrap">
            <span class="contacts__subtitle">Monday - Friday</span>
            <span class="contacts__time">06:00 AM - 10:00 PM</span>
            <span class="contacts__subtitle contacts__subtitle--second">Saturday-Sunday</span>
            <span class="contacts__time">08:00 AM - 16:00 PM</span>
          </div>
          <a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a>
          <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
      </ul>
  
  
      <div class="contacts__btn-wrap">
        <button class="contacts__btn" type="button">
          Our Locations
          <svg class="contacts__btn-icon" width="10" height="10">   
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
        <button class="contacts__btn contacts__btn--second" type="button">
          Franchise
          <svg class="contacts__btn-icon" width="10" height="10">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="container">
      <div class="footer">
        <div class="footer__title-wrap title-wrap">
          <div class="section__title-label">homemade ice cream made</div>
          <h2 class="section__title">with passion</h2>
        </div>
        <div class="footer__contacts-wrap">
          <ul class="footer__social-list">
            <li class="social_item">
              <a class="footer__social__link" href="#">
                <svg class="social-icon">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social_item">
              <a class="footer__social__link" href="#">
                <svg class="social-icon">
                  <use href="./images/icons.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li class="social_item">
              <a class="footer__social__link" href="#">
                <svg class="social-icon">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="footer__contacts">
            <p>
              Feel free to contact
              <a class="link" href="tel:+61 (0) 383 766 284"> +61 (0) 383 766 284</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="copyright-terms">© 2019 - IceCream. All Rights Reserved.</div>
    </div>
    
    </section>