<section>
  <h2 hidden>Customer reviews</h2>
  <div class="container customer">
    <img
      class="customer__image"
      src="./images/customer-reviews/testimonials1-85.png"
      srcset="./images/customer-reviews/testimonials1-170.png 2x"
      alt="avatar"
      width="85"
      height="85"
    />

    <div class="customer__wrap">
      <div class="customer__box">
        <svg class="customer__mark" width="54" height="40">
          <use href="./images/icons.svg#icon-speech-marks"></use>
        </svg>
        <p class="customer__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
    </div>

    <svg width="32" height="4">
      <use href="./images/icons.svg#icon-dots-review"></use>
    </svg>

    <p class="customer__name">Emily, Los Angeles</p>

    <ul class="customer__list">
      <li class="customer__item">
        <svg class="customer__icon" width="12.4" height="12">
          <use href="./images/icons.svg#icon-home"></use>
        </svg>
      </li>
      <li class="customer__item">
        <svg class="customer__icon" width="12" height="12">
          <use href="./images/icons.svg#icon-dot-review"></use>
        </svg>
      </li>
      <li class="customer__item">
        <svg class="customer__icon" width="12" height="12">
          <use href="./images/icons.svg#icon-dot-review"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
