<footer>
   <div class="container">
      <div class="footer">
         <div class="footer__title-wrap title-wrap">
            <div class="section__title-label">homemade ice cream made </div>
            <h2 class="section__title">with passion</h2>
         </div>
         <div class="footer__contacts-wrap">
            <ul class="footer__social-list">
               <li class="social_item">
                  <a class="footer__social__link " href="#">
                     <svg class="social-icon">
                        <use href="./images/icons.svg#icon-github"></use>
                     </svg>
                  </a>
               </li>
               <li class="social_item">
                  <a class="footer__social__link" href="#">
                     <svg class="social-icon">
                        <use href="./images/icons.svg#icon-telegram"></use>
                     </svg>
                  </a>
               </li>
               <li class="social_item">
                  <a class="footer__social__link" href="#">
                     <svg  class="social-icon">
                        <use href="./images/icons.svg#icon-facebook"></use>
                     </svg>
                  </a>
               </li>
            </ul>
            <div class="footer__contacts">
               <p>Feel free to contact <a class="link" href="tel:+61 (0) 383 766 284">
                  +61 (0) 383 766 284</a></p>
            </div>
         </div>
         
      </div>
   </div>
   <div class="copyright">
      <div class="copyright-terms">
      © 2019 - IceCream. All Rights Reserved.
      </div>
   </div>
</footer>