<body>
    <header class="header">
        <div class="header__container">
            <svg class="header__logo">
                <use href=""></use>
            </svg>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#" class="nav__link">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">About us</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">How it's made?</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Our products</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Contact</a>
                    </li>
                </ul>
            </nav>
            <button class="header__button" type="button">Buy now
                <svg class="header__button-icon">
                    <use href="#"></use>
                </svg>
            </button>
        </div>
        <section class="hero">
            <div class="hero__container">
                <img class="hero__img-ice" srce="#" alt="icecream">
            </div>
            <img class="hero__img-milk" src="#" alt="milk">
            <img class="hero__img-girl" src="#" alt="girl">
            <img class="hero__img-first-circle" src="#" alt="circle">
            <img class="hero__img-secont-circle" src="#" alt="circle">
            <div class="hero__main">
                <h1 class="hero__title">ICE CREAM MADE WITH <span class="hero__span">PASSION</span></h1>
                <ul class="hero_asaid-list">
                    <li class="hero__asaid-item">
                        <p class="hero__asaide-text"><span class="hero__span-asaid">16</span>cafes</p>
                    </li>
                    <li class="hero__asaid-item">
                        <p class="hero__asaid-text"><span class="hero__span-asaid">23</span>food trucks</p>
                    </li>
                </ul>
            </div>
            <ul class="hero__button-list">
                <li class="hero__button-item">
                    <a href="#" class="hero__button-link">Products</a>
                </li>
                <li class="hero__button-item">
                    <a href="#" class="hero_button-link">How it's made?</a>
                </li>
            </ul>
            <p class="hero-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button type="button" class="hero__arrow-button">
                    <svg class="hero__arrow-button-icon">
                        <use href="#"></use>
                    </svg>
                </button>
        </section>
    </header>
</body>