<body>
    <main>
        <div class="tradition">
            <div class="tradition__header">
                <h3>
                    TRADITION AND LOVE
                </h3>
                <h2>
                    HOW IT'S MADE?
                </h2>
            </div>
            <div class="tradition__description">
                <div>
                    <img src=""
                        alt="Two round pictures are combined. The one in front shows jug full of milk and words bio eco on pink background. The one in the back shows cow standing in front of the viewer on blue sky and green grass background.">
                </div>
                <div>
                    <h6>Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem
                        eget, egestas eros.
                        Maecenas eleifend erat at justo fringilla.</h6>
                    <p>Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
                        imperdiet placerat.
                        Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                        tincidunt. Aliquam erat
                        volutpat. Aenean accumsan.</p>
                    <button>
                        Read more
                    </button>
                </div>
            </div>
            <ul class="tradition__facts">
                <li>
                    <svg>
                        <use href=""></use>
                    </svg>
                    <h2>721</h2>
                    <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </li>
                <li>
                    <svg>
                        <use href=""></use>
                    </svg>
                    <h2>16kg</h2>
                    <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </li>
                <li>
                    <svg>
                        <use href=""></use>
                    </svg>
                    <h2>84</h2>
                    <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </li>
            </ul>
        </div>
    </main>
</body>