 /* FOOTER */
 .footer{
   display: flex;
   justify-content: space-between;
   font-family: 'DM Sans';
   font-weight: 700;
}
.footer__social-list{
   display: flex;
   gap: 24px;
   justify-content: flex-end;
}

.footer__contacts{
   display: inline-block;
   font-size: 16px;
   line-height: 30px;
   letter-spacing: 0.02em;
   color: #000;
   margin-top: 50px;
}
.footer__social__link{
   display: flex;
   width: 34px;
   height: 34px;
   background-color: var(--social-link);
   border-radius: 50%;
   align-items: center;
   justify-content: center;
   transition: all 250ms linear;
   fill: #FEA5BB;
}
.footer__social__link:hover{
   fill: #D41443;
 }
/* LINK */
.link{
   color: #D41443;
}
/*Copyright*/
.copyright{
  border-top: 1px solid #E1E1E1;
}
.copyright-terms{
   font-family: 'DM Sans';
   font-weight: 700;
   font-size: 14px;
   line-height: 26px;
   letter-spacing: 0.02em;
   color: #907E82;
   text-align: center;    
}
//MEDIA Footer
   /* Media480 ! */
 @media screen and (min-width: 480px),(max-width: 480px) {
   .footer{
      flex-direction: column;
      margin-top: 113px;
   }
   .footer__title-wrap{
      text-align: left;
      width: 55%;
   }
   .footer__contacts-wrap{
      width: 100%;
      text-align: right;
      margin-bottom: 43px;
      font-size: 13px;
   }
   .footer__contacts{
      font-size: 14px;
      line-height: 26px;
      letter-spacing: 0.01em;
   }
   .copyright-terms{
      width: 150px;
      margin-top: 22px;
      margin-bottom: 12px;
      margin-right: auto;
      margin-left: auto;
   }
 }
   /* Media 768! */
 @media screen and (min-width: 768px) {
    .footer{
       flex-direction: row;
       margin-top: 165px;
       align-items: flex-start;
    }
    .footer__title-wrap{
      text-align: left;
   }
   .footer__contacts{
      font-size: 14px;
      line-height: 26px;
      letter-spacing: 0.01em;
   }
   .footer__title-wrap{
      width: 55%;
   }
   .footer__contacts-wrap{
     width: 45%;
     margin: 0;
   }
   .copyright-terms{
      margin-top: 10px;
      margin-bottom: 0;
      width: 100%;
   }
   .copyright{
      margin-top: 91px;
   }
 }
 @media screen and (min-width: 1280px) {
   .copyright{
      margin-top: 98px;
   }
 }