.header {
    position: relative;
    background-color: #ffb8ca;
    overflow: hidden;
    padding-top: 6px;
    padding-bottom: 155px;

    @media screen and (min-width: 768px) {
        padding-top: 37px;
        padding-bottom: 34px;
    }

    @media screen and (min-width: 1280px) {
        padding-bottom: 51px;
    }
}

.header__container {
    display: flex;
    align-items: center;

    @media screen and (min-width: 768px) {
        position: relative;
        z-index: 2;
        padding-left: 34px;
        padding-right: 34px;
    }

    @media screen and (min-width: 1280px) {
        position: relative;
        padding-left: 46px;
        padding-right: 116px;
    }
}

.header__logo {
    @media screen and (min-width: 1280px) {
        margin-right: 90px;
    }
}

.nav {
    display: none;
    font-family: 'DM Sans', sans-serif;

    @media screen and (min-width: 1280px) {
        display: block;
        margin-right: 90px;
    }
}

.nav_list {
    display: flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
}

.nav__item:not(:last-child) {
    margin-right: 35px;
}

@keyframes rotateXArrow {
    100% {
        transform: rotateX(180deg);
    }
}

@keyframes rotateX {
    0% {
        transform: rotateX(0);
    }

    50% {
        transform: rotateX(90deg);
    }

    100% {
        transform: rotateX(0);
    }
}

@keyframes rotateY {
    0% {
        transform: rotateY(0);
    }

    50% {
        transform: rotateY(90deg);
    }

    100% {
        transform: rotateY(0);
    }
}

.nav__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3125;
    letter-spacing: .04em;
    padding-top: 14px;
    padding-bottom: 14px;
    color: #ffffff;

    &:hover,
    &:focus {
        animation-name: rotateY;
        animation-duration: 1000ms;
        color: #d41443;
    }

    &--current {
        color: #d41443;
    }
}

.header__button {
    display: none;
    border-color: transparent;

    @media screen and (min-width: 768px) {
        display: inline-flex;
        align-items: center;
        padding: 13px 37px;
        margin-left: 30px;
        border-radius: 22px;
        background-color: #ffffff;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.286;
        position: relative;
        ;
        color: #d41443;

        &:hover,
        &:focus {
            background-color: #ecebeb;
            animation-name: rotateX;
            animation-duration: 1000ms;
        }
    }

    @media screen and (min-width: 1280px) {
        margin-left: auto;
    }
}

.header__button-icon {
    margin-left: 12px;
    fill: currentColor;
}