.hero {
    padding-top: 137px;

    @media screen and (min-width: 768px) {
        padding-top: 15px;
    }

    @media screen and (min-width: 1280px) {
        padding-top: 74px;
    }
}

.hero__container {
    position: relative;

    @media screen and (min-width: 768px) {
        padding-left: 34px;
        padding-right: 34px;
    }

    @media screen and (min-width: 1280px) {
        padding-left: 115px;
        padding-right: 115px;
    }
}

.hero__image-milk {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
        position: absolute;
        left: 34px;
        bottom: -7px;
    }

    @media screen and (min-width: 1280px) {
        left: 77px;
        bottom: 0;
    }
}

.hero__image-girl {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
        position: absolute;
        right: 34px;
        bottom: -34px;
        z-index: 2;
    }

    @media screen and (min-width: 1280px) {
        right: 109px;
        bottom: -51px;
    }
}

.hero__image-first-dot {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
        position: absolute;
        top: -2px;
        right: 34px;
    }

    @media screen and (min-width: 1280px) {
        top: -5px;
        right: 107px;

    }
}

.hero__image-second-dot {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
        position: absolute;
        top: 54px;
        right: 34px;
    }

    @media screen and (min-width: 1280px) {
        top: 80px;
        right: 107px;
    }
}

.hero__wrap {
    position: relative;
    margin-bottom: 19px;

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 8px;
        margin-bottom: 8px;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 9px;
    }
}

.hero__title {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    font-family: 'Titan One',
        sans-serif;
    color: #ffffff;
    font-family: Titan One, cursive;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.1538461538;
    letter-spacing: .04em;
    text-transform: uppercase;
    max-width: 218px;

    @media screen and (min-width: 768px) {
        font-weight: 400;
        font-size: 22px;
        line-height: 1.1363636364;
        letter-spacing: .04em;
        max-width: 162px;
    }

    @media screen and (min-width: 1280px) {
        font-weight: 400;
        font-size: 38px;
        line-height: 1.1578947368;
        letter-spacing: .04em;
        max-width: 277px;
    }
}

.hero__title-span {
    font-family: 'Titan One',
        sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: .9583333333;
    letter-spacing: .04em;
    text-transform: uppercase;
    color: #d41443;
    font-size: 58px;

    @media screen and (min-width: 768px) {
        font-weight: 400;
        font-size: 34px;
        line-height: .9117647059;
        letter-spacing: .04em;
    }

    @media screen and (min-width: 1280px) {
        font-weight: 400;
        font-size: 58px;
        line-height: .8965517241;
        letter-spacing: .04em;
    }
}

.hero__wrap-picture {
    position: absolute;
    top: -110px;
    right: -61px;
    width: 346px;
    height: 344px;

    @media screen and (min-width: 768px) {
        top: -61px;
        right: 137px;
        width: 324px;
        height: 322px;
    }

    @media screen and (min-width: 1280px) {
        top: -109px;
        right: 268px;
        width: 538px;
        height: 538px;
    }
}

.hero__eclipse {
    position: absolute;
    bottom: 0;
    right: -20px;
    background-color: #ffa5ba;
    width: 346px;
    height: 344px;
    border-radius: 50%;
    animation-name: elipseBeats;
    animation-duration: 3000ms;

    @media screen and (min-width: 768px) {
        top: 0;
        right: 0;
        width: 324px;
        height: 322px;
    }

    @media screen and (min-width: 1280px) {
        width: 538px;
        height: 538px;
    }
}

@keyframes elipseBeats {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.hero__image-icecream {
    position: absolute;
    top: 8px;
    right: 74px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        top: 22px;
        right: 110px;
    }

    @media screen and (min-width: 1280px) {
        top: 39px;
        right: 167px;
    }
}

.hero__chain-list {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        text-align: right;
    }
}

.hero__chain-item {
    &:not(:last-child) {
        margin-bottom: 13px;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 15px;
    }
}

.hero__chain-text {
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    letter-spacing: .04em;
    color: #ffffff;

    @media screen and (min-width: 1280px) {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.2857142857;
        letter-spacing: .04em;
    }
}

.hero__chain-span {
    display: block;
    font-size: 46px;
    font-family: 'Titan One',
        cursive;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.1428571429;
    letter-spacing: .04em;
    color: #d41443;

    @media screen and (min-width: 1280px) {
        font-weight: 400;
        font-size: 46px;
        line-height: 1.152173913;
        letter-spacing: .04em;
    }
}

.hero__button-list {
    display: flex;

    @media screen and (max-width: 767px) {
        position: relative;
        z-index: 2;
        display: flex;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 66px;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 112px;
    }
}

.hero__button-item:not(:last-child) {
    margin-right: 8px;

    @media screen and (min-width: 1280px) {
        &:not(:last-child) {
            margin-right: 17px;
        }
    }
}

.hero__button-link {
    padding: 9px 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2857142857;
    letter-spacing: .04em;
    border-radius: 20px;
    font-family: DM Sans, sans-serif;


    &--pink {
        color: #ffffff;
        background-color: #d41443;

        &:hover,
        &:focus {
            background-color: #c7133e;
            animation-name: rotateX;
            animation-duration: 1000ms;
        }
    }

    &--white {
        color: #d41443;
        background-color: #ffffff;

        &:hover,
        &:focus {
            background-color: #ecebeb;
            animation-name: rotateX;
            animation-duration: 1000ms;
        }
    }

    @media screen and (min-width: 1280px) {
        padding-left: 24px;
        padding-right: 24px;
    }
}

.hero-text {
    display: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4285714286;
    letter-spacing: .04em;

    @media screen and (min-width: 768px) {
        display: block;
        max-width: 114px;
        font-weight: 400;
        font-size: 8px;
        line-height: 1.5;
        letter-spacing: .04em;
        ;
        margin-left: 120px;
        color: #ffffff;
        margin-bottom: 7px;
    }

    @media screen and (min-width: 1280px) {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.4285714286;
        letter-spacing: .04em;
        max-width: 200px;
        margin-left: 190px;
        margin-bottom: 20px;
    }
}

.hero__arrow-button {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 120px;
        width: 18px;
        height: 18px;
        border: 0;
        border-radius: 50%;
        background-color: #ffffff;
        color: #d41443;

        &:hover,
        &:focus {
            animation-name: rotateXArrow;
            animation-duration: 1000ms;
            // animation-iteration-count: infinite;
        }
    }

    @media screen and (min-width: 1280px) {
        width: 26px;
        height: 26px;
        margin-left: 190px;
    }
}

.hero__arrow-button-icon {
    fill: currentColor;
}